$grey: #7e7e7e
$purple: #6d00ff
$yellow: #feef03



@mixin size($x, $y)
    width: $x
    height: $y
*
    //border: 1px solid #000


.page-title
    background-image: url(../img/about/Title_about.png)
    height: 130px
    background-size: cover
    background-position: 52% 50%
    margin: 50px auto
    @media (max-width: 992px)
        height: 80px



.page-content
    .content
        text-align: center
        background: rgba(black, 0.5)
        color: white
        border: 2px solid $yellow
        padding: 60px 0
        line-height: 30px
        max-width: 95%
        margin: 0 auto
        position: relative
        &:before
            position: absolute
            display: block
            content: ''
            width: 100%
            height: 100%
            left: -6px
            top: 6px
            border: 2px solid $yellow
            border-top: none
            border-right: none
        .p-1
            font-size: 24px

.spin1
    //animation: 5s rotate infinite linear
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    svg
        +size(50px, 50px)
        stroke: $yellow
        stroke-width: 3
        stroke-linecap: round
        stroke-dasharray: 31%
        //stroke-dashoffset: 3px
        animation: 1.2s scale infinite
        filter: drop-shadow(0px 2px rgba(black, 0.6))
        circle
            fill: none
            animation: 1.2s spin1 infinite
        @keyframes spin1
            0%
                transform: rotate(0deg)
            100%
                transform: rotate(360deg)
        @keyframes scale
            0%
                transform: scale(1.0)
            50%
                transform: scale(1.2)
            100%
                transform: scale(1.0)
        @keyframes rotate
            0%
                transform: rotate(0deg) 
            100%
                transform: rotate(360deg)

.spin2
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    svg
        stroke: none
        fill: $yellow
        transform: scale(0.6)
        filter: drop-shadow(0px 2px rgba(black, 0.2))
        +size(50px, 50px)
    circle, path
        animation: 0.8s opacity infinite linear  
    @keyframes opacity
        0%
            opacity: 1
        90%
            opacity: 0
        100%
            opacity: 1
    .c1
        animation-delay: 0s
    .c2
        animation-delay: -0.1s
    .c3
        animation-delay: -0.2s
    .c4
        animation-delay: -0.3s
    .c5
        animation-delay: -0.4s
    .c6
        animation-delay: -0.5s
    .c7
        animation-delay: -0.6s
    .c8
        animation-delay: -0.7s