$grey: #7e7e7e
$purple: #6d00ff
$yellow: #feef03
$d_yellow: #f1cc1a
$r_purple: #370054



*
	//border: 1px solid 
	letter-spacing: 1px
	// ::-webkit-scrollbar
	// 	width: 10px
	// ::-webkit-scrollbar-track
	// 	background: rgba(black, 0.2)
	// ::-webkit-scrollbar-thumb
	// 	background: rgba(black, 0.5s)
	// ::-webkit-scrollbar-thumb:hover
	// 	background: #555

@import url('https://fonts.googleapis.com/css?family=Francois+One')

@mixin ab_center
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)



nav
	padding-top: 15px !important
	padding-bottom: 15px !important
	&:after
		content: ""
		display: block
		width: 120vw
		height: 120px
		position: absolute
		top: -75px
		left: 50%
		opacity: 1
		background: rgba(0, 0, 0, 1)
		transform: rotate(-2deg) translateX(-50%)
		pointer-events: none
		z-index: -1
		//background: linear-gradient(to bottom, black 0%, rgba(255, 255, 255, 0) 100%)		//background: white
	a.nav-link, a.dropdown-item
		font-size: 20px
		color: white
		padding-left: 20px !important
		padding-right: 20px !important
		font-weight: 500
		text-align: center
		font-family: 'Francois One',sans-serif
		//vertical-align: middle
		.first_char
			color: $purple
			text-shadow: -1px 0 rgba(black, 0.8), 0 1px rgba(black, 0.8), 1px 0 rgba(black, 0.8), 0 -1px rgba(black, 0.8)
			font-size: 32px
			vertical-align: -3px

	a.nav-link
		position: relative
		white-space: nowrap
		transition: .3s
		&:before
			content: ""
			display: block
			position: absolute
			height: 10px
			width: 0%
			background-color: lighten($purple, 5%)
			top: 38px
			left: 50%
			transform: translateX(-50%) rotate(-3deg)
			transition: .3s
			z-index: -1
			@media (max-width: 991px)
				top: 45px
		&:hover
			transform: rotate(3deg)
			&:before
				width: 60%
				@media (max-width: 991px)
					width: 100px

		@media (max-width: 991px)
			padding-top: 20px
			padding-bottom: 20px
			text-align: center

	.media-item
		.nav-link
			white-space: nowrap
	
	.media-wrap
		width: 30px
		height: 30px
		border-radius: 50%
		background: white
		margin: 0 10px
		display: inline-flex
		justify-content: center
		align-items: center
		cursor: pointer
		transition: .3s
		&:hover
			transform: scale(1.1)
			.fab
				color: $purple
		.fab
			color: rgba(black, 0.9)
			transition: .3s
	.navbar-toggler
		border: none
		background: transparent !important
		text-align: right !important
		&:before
			content: ""
			width: 100vw
			height: 100vh
			background: rgba(0, 0, 0, 0.8)
			display: block
			position: absolute
			left: 0
			top: 0
			opacity: 0
			pointer-events: none
			transition: .3s
			z-index: -1
		&:focus
			outline: none
			background: transparent !important
		.icon-bar
			background-color: rgba(white, 0.9)
			transform: rotate(0deg) translate(0px, 0px)
			transition: ease all .2s
			display: block
			width: 25px
			height: 3px
			right: 0
			border-radius: 1px
			//box-shadow: 0 1px 5px black

			+ .icon-bar
				margin-top: 4px
		.icon-bar:nth-child(2)
			width: 16px
			transition: ease all .2s
	.navbar-toggler
		&:hover > .icon-bar:nth-child(2), &:active > .icon-bar:nth-child(2)
			width: 22px
			transition: ease all .2s
		&:not(.collapsed)
			&:before
				opacity: 1
			.icon-bar
				&:nth-child(1)
					transform: rotate(45deg) translate(6px, 4px)
					transition: ease all .2s
				&:nth-child(2)
					opacity: 0
					transition: ease all .2s
				&:nth-child(3)
					transform: rotate(-45deg) translate(6px, -4px)
					transition: ease all .2s
	.s-item
		display: none
		@media (max-width: 991px)
			display: block
	.b-item
		display: none
		@media (min-width: 991px)
			display: block
	.s-media-item
		display: inline-flex
		align-items: flex-end
		justify-content: center
		width: 100%


@media (max-width: 991px)
	nav.navbar 
		.navbar-nav 
			.nav-item
				height: calc(90vh/7.5)


.fix-video
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	position: fixed
	min-width: 100%
	min-height: 100%
	z-index: -100
//Bg_mask.png


.video-mask
	position: fixed
	z-index: -99
	top: 0
	left: 0
	height: 100vh
	width: 100vw
	background-image: url(../img/Bg_mask.png)
	opacity: 0.4
	
header#section_header
	padding: 10px 50px
	//overflow: hidden
	height: 100vh
	display: flex
	justify-content: center
	align-items: center
	overflow: hidden
	.slider-wrap
		position: relative
		min-width: 991px
		pointer-events: none
		//left: 50%
		//transform: translateX(-50%)
		.main-logo-area
			pointer-events: none
			perspective: 500px
			height: 100%
			width: 100%
			position: absolute
			top: 0
			left: 0
			display: flex
			justify-content: center
			align-items: center
			img
				//perspective: 1000px
				width: 50%
				@media (max-width: 768px)
					width: 40%
				
		.img-wrap
			// position: relative
			// padding-bottom: 40%
			// overflow: hidden
			img
				width: 100%
				//+ab_center
		ul.slick-dots
			bottom: 20px
			li button:before
				color: white


@mixin section-title-style
	text-align: center
	margin-bottom: 80px
	display: flex
	//justify-content: center
	//align-items: center
	.decor-line
		height: 2px
		flex: 1	
		background: #ddd
		position: relative
		top: 60px
	.img-wrap
		width: 200px
		display: inline-block
		margin: 0 30px
		img
			width: 100%


*
	//border: 1px solid #000
section#features
	background: rgba(white, 1)
	padding: 80px 0
	.section-title
		+section-title-style
		

	.feature-card-wrap
		@media (max-width: 991px)
			margin-bottom: 60px
		.card-title
						
			h3
				font-size: 35px
				font-weight: 400
				text-align: center
				margin-bottom: 25px
	.card-img
		//margin-bottom: 80px
		position: relative
		.img-wrap
			mask-size: 100% 100%;
			mask-repeat: no-repeat
			position: relative
			padding-bottom: 80%
			mask-image: url(../img/BG_NEWS_CC.svg)
			//overflow: hidden
			@media (min-width: 992px)
				transform: scale(1.1)
				padding-bottom: 100%
			img
				+ab_center
				object-fit: cover
				width: 100%
				height: 100%
		.mask-img
			position: absolute
			top: 0
			left: 0
			width: 100%
			padding-bottom: 80%
			display: none
			@media (min-width: 992px)
				padding-bottom: 100%
				transform: scale(1.1)
				display: block
			img
				+ab_center
				width: 100%
		.mask-img.mobile
			display: none
			@media (max-width: 991px)
				display: block

	.card-text
		position: relative
		//top: -55px
		@media (min-width: 992px)
			top: -15px
		p
			text-align: justify
			font-size: 18px
			font-weight: 300
			line-height: 30px

	.card-col
		a
			*
				color: black
			&:hover
				text-decoration: none
				color: black
					
		
	.card-col:nth-child(1)
		position: relative
		@media (min-width: 992px)
			right: 50px
		.card-img
			//filter: drop-shadow(0 0 1px black)
			.img-wrap
				//transform: scale(1.2)
				@media (min-width: 992px)
					mask-image: url(../img/BG_NEWS_LL.svg)
				
				

				img
					
		.card-text
			@media (min-width: 992px)
				transform: rotate(-10deg) translateX(40px)

	.card-col:nth-child(2)
		.card-img
			margin-bottom: 30px
			.img-wrap
				mask-image: url(../img/BG_NEWS_CC.svg)
				@media (min-width: 992px)
					padding-bottom: 80%
			.mask-img
				@media (min-width: 992px)
					padding-bottom: 80%

				img
					

	.card-col:nth-child(3)
		position: relative
		@media (min-width: 992px)
			left: 50px
		.card-img
			.img-wrap
				@media (min-width: 992px)
					mask-image: url(../img/BG_NEWS_RR.svg)
				img
		.card-text
			@media (min-width: 992px)
				transform: rotate(10deg) translateX(-25px)


section#group-description
	position: relative
	background: white
	background-image: url(../img/about_bg.png)
	background-size: cover
	background-position: center top
	&:before
		content: ''
		display: block
		position: absolute
		background-image: url(../img/about_bg_top.png)
		background-size: 100%
		background-position: center bottom
		background-repeat: no-repeat
		//border: 1px solid #000
		width: 100%
		z-index: 100
		top: 0
		left: 0
		padding-bottom: 5%
		transform: translateY(-99%)

	.section-title
		text-align: center
		margin-bottom: 70px
		max-width: 450px
		min-width: 200px
		width: 50%
		margin: 0 auto
		img
			width: 100%

	.text-wrap
		margin-top: 20%
		@media (max-width: 576px)
			margin-top: 130px
		p
			color: white
			text-align: center
		.p-1
			font-size: 28px
			letter-spacing: 2px
			@media (max-width: 576px)
				font-size: 20px
		.p-2
			font-size: 19px
			line-height: 32px
			@media (max-width: 576px)
				font-size: 16px
				line-height: 26px
				font-weight: 300
	.about-btn
		text-align: center
		margin-top: 80px
		padding: 15px 0
		button
			border: none
			background: none
			border: 2px solid white
			color: white
			font-size: 28px
			padding: 8px 45px
			cursor: pointer
			@media (max-width: 576px)
				font-size: 18px
				padding: 6px 40px
			//position: absolute


section#schedule
	background: rgba(black, 0.7)
	padding: 60px 0
	.section-title
		+section-title-style
	.sche
		margin: 0
		transform: translateY(20%) scale(1.2)
	.list-wrap
		.lists
			margin: 0
			padding: 0
			padding: 20px 40px
			@media (max-width: 576px)
				padding: 20px 0
			.list
				list-style-type: none
				transition: .3s
				cursor: pointer
				&:hover
					background: rgba(#dfcdf5, 0.7)
					div
						color: #333
						.text
							font-weight: normal
						span
							color: white
			.list
				display: flex
				border-bottom: 1px solid lighten($purple, 5%)
				padding: 30px 0
				flex-wrap: wrap
				color: white
				text-decoration: none

				.date, .cate
					text-align: center
					display: inline-block
					display: flex
					justify-content: center
					align-items: center
				.date
					@media (max-width: 1200px)
						font-size: 18px
				.text
					font-size: 18px
					font-weight: 300
					@media (max-width: 1200px)
						margin: 30px 0
				.cate
					span
						font-size: 14px
						display: inline-block
						padding: 8px 20px
						background: lighten($purple, 12%)
						border-radius: 5px
					@media (max-width: 1200px)
						//justify-content: flex-start
			.card-body
				color: white
				text-align: justify
				font-weight: 300
			
	.see-more-btn
		text-align: center
		margin-top: 80px
		//padding: 15px 0
		button
			border: none
			background: none
			border: 2px solid white
			color: white
			font-size: 20px
			padding: 8px 45px
			cursor: pointer
			@media (max-width: 576px)
				font-size: 18px
				padding: 6px 40px


section#youtube-slider
	background: rgba(black, 0.7)
	padding: 60px 0
	.slider-wrap
		padding: 0 50px
		.a-left, .a-right
			transform: scale(1.5)
		.slider.video-slider
			box-shadow: 0 0 100px rgba(white, 0.5)
			font-size: 0
			.video-wrap
				width: 100%
				padding-bottom: 56.25%
				position: relative
				iframe
					position: absolute
					top: 0
					left: 0
					width: 100%
					height: 100%

section#members
	background: rgba(black, 0.7)
	padding: 80px 0
	.member
		background-image: url(https://placekitten.com/g/600/600)
		background-size: cover
		background-position: center center
		padding-bottom: 90%
		margin: 15px 0
		transition: .3s
		&:hover
			transform: scale(1.1)

//===================about page===================
.bg-img
	position: fixed
	z-index: -1
	width: 100%
	background-image: url(../img/about/BG_About01.png)
	background-position: center 12%
	background-size: cover
	height: 100vh
	background-color: #59128c
#about
	*
		::-webkit-scrollbar
			width: 0px
		::-webkit-scrollbar-track
			background: rgba(black, 0.2)
		::-webkit-scrollbar-thumb
			background: rgba(black, 0.5s)
		::-webkit-scrollbar-thumb:hover
			background: #555
	.members-pc
		background-image: url(../img/about/Bg_ling.png)
		background-repeat: no-repeat
		background-size: 80%
		//height: 3000px
		margin: 20px 0
		position: relative
		background-position: center top
		padding-bottom: 200%
		//max-height: 1000px
		max-width: 1400px
		//max-height: 100px
		margin: 0 auto
		z-index: 0
		@media (min-width: 1440px)
			padding-bottom: 2700px !important
		// &:before
		// 	position: absolute
		// 	content: ''
		// 	width: 95%
		// 	height: 100%
		// 	background-size: 100%
		// 	background-image: url(../img/about/Bg_ling.png)
		// 	left: 50%
		// 	top: 0
		// 	background-repeat: no-repeat 
		// 	transform: translateX(-50%)
		// 	z-index: -1
		@media (min-width: 1200px)
			padding-bottom: 180%
		@media (max-width: 992px)
			display: none
		.member-wrap
			position: absolute
			display: none
			.pic
				//max-width: 250px
			.profile
				padding: 20px
				position: absolute
				border: 3px solid $yellow
				background: rgba(black, 0.5)
				color: white
				opacity: 0
				transition: .3s
				&:before
					content: ''
					position: absolute
					display: block
					width: 100%
					border-bottom: 3px solid $yellow
					height: 6px
					left: 0
					background: rgba(black, 0.5)
					bottom: -3%
			&:hover
				.profile
					opacity: 1
		.member-wrap:nth-child(1)
			display: block
			top: 12%
			left: 10%
			//@media (min-width: 1440px)
				//top: 250px
			.pic
				width: 14vw
				max-width: 250px
			.profile
				top: 21%
				left: 100%
				min-height: 65%
		.member-wrap:nth-child(2)
			display: block
			top: 15%
			left: 68%
			//@media (min-width: 1440px)
				//top: 400px
			.pic
				width: 21vw
				max-width: 350px
			.profile
				top: 25%
				right: 80%
				min-height: 70%
				z-index: -1
		.member-wrap:nth-child(3)
			display: block
			top: 33%
			left: 15%
			//@media (min-width: 1440px)
				//top: 800px
			.pic
				width: 20vw
				max-width: 270px
			.profile
				top: 21%
				left: 90%
				min-height: 70%
				z-index: -1
		.member-wrap:nth-child(4)
			display: block
			top: 43%
			left: 68%
			//@media (min-width: 1440px)
				//top: 1100px
			.pic
				width: 17vw
				max-width: 250px
			.profile
				top: 25%
				right: 88%
				min-height: 70%
				z-index: -1
		.member-wrap:nth-child(5)
			display: block
			top: 51%
			left: 15%
			//@media (min-width: 1440px)
				//top: 1300px
			.pic
				width: 20vw
				max-width: 270px
			.profile
				top: 21%
				left: 90%
				min-height: 70%
				z-index: -1
		.member-wrap:nth-child(6)
			display: block
			top: 63%
			left: 63%
			//@media (min-width: 1440px)
				//top: 1600px
			.pic
				width: 17vw
				max-width: 250px
			.profile
				top: 50%
				right: 88%
				min-height: 70%
				z-index: -1
				transform: translateY(-50%)
		.member-wrap:nth-child(7)
			display: block
			top: 75%
			left: 17%
			//@media (min-width: 1440px)
				//top: 2000px
			.pic
				width: 17vw
				max-width: 250px
			.profile
				top: 25%
				left: 100%
				min-height: 70%
				z-index: -1
	.members-mb, .light-box
		position: relative
		display: none
		margin-top: 190px
		@media (max-width: 992px)
			display: block
		@media (max-width: 768px)
			margin-top: 0
		&:before
			position: absolute
			background-image: url(../img/about/Bg_ling.png)
			content: ''
			display: block
			width: 100%
			height: 100%
			background-size: 100%
			background-repeat: no-repeat
			left: 0
			top: -10%
			z-index: -100
			@media (max-width: 768px)
				display: none
		.mb
			margin-bottom: 60px
			@media (max-width: 768px)
				margin-bottom: 90px
		.pic-wrap
			position: relative
			padding-bottom: 100%
			@media (max-width: 768px)
				padding-bottom: 120%
			img
				width: 100%
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
		.content-wrap
			display: flex
			align-items: center
			height: 100%
		.profile
			width: 100%
			padding: 20px
			position: relative
			border: 3px solid $yellow
			background: rgba(black, 0.5)
			color: white
			z-index: -1
			transition: .3s
			&:before
				content: ''
				position: absolute
				display: block
				width: 100%
				border-bottom: 3px solid $yellow
				height: 6px
				left: 0
				background: rgba(black, 0.5)
				bottom: -3%
			h2
				font-weight: 400
				font-size: 24px

		.row:nth-child(1)
			img
				width: 70%
		.row:nth-child(2)
			img
				width: 85%
		.row:nth-child(3)
			img
				width: 80%
		.row:nth-child(4)
			img
				width: 80%
			
		.row:nth-child(5)
			img
				width: 80%
		.row:nth-child(6)
			img
				width: 80%
		.row:nth-child(7)
			img
				width: 70%
	.light-box
		background-color: rgba(black, 0.8)
		position: fixed
		margin-top: 0
		top: 0
		left: 0
		height: 100vh
		width: 100vw
		display: none
		align-items: center
		&:before
			display: none
		.row100vh
			height: 90vh
			overflow-y: scroll
		.content-wrap, .pic-wrap
			padding-bottom: 0 !important
			display: flex
			justify-content: center
			align-items: center
			height: 100%
		.content-wrap
			//height: 100px
			//overflow: scroll
		@media (max-width: 768px)
			.pic-wrap
				align-items: flex-end
		.pic
			position: static !important
			transform: none !important
		.pic1
			width: 60%
			max-width: 200px
			@media (max-width: 576px)
				width: 50% !important
		.pic2
			width: 90% !important
			max-width: 250px
			@media (max-width: 576px)
				width: 70% !important
		.pic3
			max-width: 250px
			width: 80% !important
			@media (max-width: 576px)
				width: 60% !important
			
		.pic4
			max-width: 250px
			width: 80%
			@media (max-width: 576px)
				width: 60% !important
		.pic5
			max-width: 250px
			width: 80% !important
			@media (max-width: 576px)
				width: 60% !important
		.pic6
			max-width: 250px
			width: 80% !important
			@media (max-width: 576px)
				width: 60% !important
		.pic7
			max-width: 250px
			width: 70%
			@media (max-width: 576px)
				width: 50% !important
		.close
			position: absolute
			right: 100px
			top: 20%
			color: white
			outline: none
			font-size: 30px
			z-index: 2000
			//border: 1px solid #000
			@media (max-width: 576px)
				right: 30px
				top: 10%

		.a-left
			@media (max-width: 576px)
				left: 25px
				z-index: 100
				width: 50px
		.a-right
			@media (max-width: 576px)
				right: 25px
				z-index: 100
				width: 50px
			
	.light-box-container
		
	.slick-img
		cursor: pointer
.tr-l
	@media (min-width: 769px)
		transform: translateX(-10%)
.tr-r
	@media (min-width: 769px)
		transform: translateX(10%)



//======#family page======
#family
	position: relative
	overflow: hidden
	.page-title
    	background-image: url(../img/family/Title_family.png)
	.family-bg-img
		position: absolute
		background-image: url(../img/family/BgFamiTop.png)
		padding-bottom: 75%
		width: 100%
		background-size: 100%
		z-index: -1
		background-repeat: no-repeat
		top: 0
		left: 50%
		transform: translateX(-50%)
		min-width: 991px
		@media (max-width: 991px)
			padding-bottom: 500px
	.spot-light
		position: absolute
		//padding-bottom: 100%
		//border: 1px solid #000
		width: 100%
		background-image: url(../img/family/BgFamiLight.png)
		background-size: 100% 100%
		top: -50px
		z-index: 0
		opacity: 0.7
		padding-bottom: 80%
		@media (min-width: 1200px)
			padding-bottom: 1200px
		@media (max-width: 991px)
			padding-bottom: 600px
		@media (max-width: 991px)
			padding-bottom: 450px
		@media (max-width: 768px)
			padding-bottom: 400px
		@media (max-width: 520px)
			display: none
	.logo
		text-align: center
		margin-top: 50px
		img
			display: block
			width: 50%
			min-width: 200px
			margin: 0 auto

	.students
		position: relative
		.stu-row
			display: flex
			flex-wrap: wrap
			padding: 50px
			//opacity: 0
			@media (max-width: 991px)
				padding-left: 10px
				padding-right: 10px
			.box
				width: 20%
				display: block
				@media (max-width: 991px)
					width: 33.33%
				.stu-wrap
					border: 3px solid $yellow
					margin: 15px
					box-shadow: 2px 1px 10px rgba(black, 0.5)
					border-radius: 5px
					position: relative
					cursor: pointer
					@media (max-width: 991px)
						margin: 15px
					@media (max-width: 576px)
						margin: 6px
						margin-bottom: 50px
					.pic-wrap
						background-size: cover
						background-repeat: no-repeat
						background-position: center center
						padding-bottom: 100%
						position: relative
						
						.decor
							position: absolute
							//z-index: 100000
							&:before, &:after
								content: ''
								display: block
								position: absolute
								width: 10px
								height: 10px
								border: 3px solid $yellow
								background-color: $purple
							&:before
								left: 0
								transform: translateX(-60%) rotate(45deg)
							&:after
								right: 0
								transform: translateX(60%) rotate(45deg)
						.decor1
							width: 100%
							top: 50%
							transform: translateY(-50%)
						.decor2
							width: 100%
							top: 50%
							transform: translateY(-50%) rotate(90deg)
					.stu-name
						position: absolute
						bottom: 0
						z-index: 100
						background-image: url(../img/family/Bg_FamiFrameName.png)
						background-size: 100% 100%
						background-position: top
						border-radius: 5px
						width: 100%
						height: 50px
						.name-wrap
							position: absolute
							display: inline-block
							left: 50%
							transform: translateX(-50%)
							bottom: 0
						
						h2
							transform: scale(1.6) translateY(13%)
							transform-origin: center center
							margin-bottom: 0
							text-align: center
							font-size: 24px
							line-height: 35px
							text-align: center
							color: #8606c2
							text-shadow: 1px 1px 0 #ea81df,
							-1px 1px 0 #ea81df,
							1px -1px 0 #ea81df,
							-1px -1px 0 #ea81df,
							0px 1px 0 #ea81df,
							0px -1px 0 #ea81df,
							-1px 0px 0 #ea81df,
							1px 0px 0 #ea81df,
							2px 2px 0 #ea81df,
							-2px 2px 0 #ea81df,
							2px -2px 0 #ea81df,
							-2px -2px 0 #ea81df,
							0px 2px 0 #ea81df,
							0px -2px 0 #ea81df,
							-2px 0px 0 #ea81df,
							2px 0px 0 #ea81df,
							1px 2px 0 #ea81df,
							-1px 2px 0 #ea81df,
							1px -2px 0 #ea81df,
							-1px -2px 0 #ea81df,
							2px 1px 0 #ea81df,
							-2px 1px 0 #ea81df,
							2px -1px 0 #ea81df,
							-2px -1px 0 #ea81df,
							0 5px 3px rgba(black, 0.9)

							@media (max-width: 1200px)
								transform: scale(1.2) translateY(14%)
								line-height: 30px
							@media (max-width: 991px)
								transform: scale(1.7) translateY(14%)
								line-height: 35px
							@media (max-width: 768px)
								transform: scale(1.1) translateY(14%)
								line-height: 30px
							@media (max-width: 576px)
								transform: scale(0.8) translateY(14%)
								line-height: 20px

						@media (max-width: 576px)
							transform: translateY(80%)
							border-radius: 0
							background: none
							//position: relative
							&:before
								content: ''
								position: absolute
								top: 50%
								left: 50%
								transform: translate(-50%, -50%) skewY(5deg)
								width: 100%
								height: 40px
								display: block
								background: $yellow
								@media (max-width: 400px)
									height: 35px

							h2
								font-size: 28px
						@media (max-width: 400px)
							h2
								font-size: 20px

		.bg-imgs-wrap
			position: absolute
			//display: none
			z-index: -2
			.bg-imgs
				width: 100%

		.bg-imgs-wrap.l5
			display: block
			bottom: 5%
			width: 45%
			min-width: 250px
			@media (max-width: 576px)
				bottom: auto
				top: 80%
			.bg-imgs.l5
				


		.bg-imgs-wrap.l4
			top: 60%
			width: 30%
			height: 600px
			overflow: hidden
			display: block
			min-width: 250px
			.bg-imgs.l4

		.bg-imgs-wrap.l3
			display: block
			top: 40%
			width: 30%
			min-width: 250px	
			.bg-imgs.l3
				

		.bg-imgs-wrap.l2
			display: block
			top: 20%
			width: 35%
			min-width: 250px
			.bg-imgs.l2
				

		.bg-imgs-wrap.l1
			position: absolute
			display: block
			top: 0%
			width: 40%
			min-width: 250px
			.bg-imgs.l1
				width: 100%

		//r
		.bg-imgs-wrap.r5
			display: block
			bottom: 5%
			width: 30%
			right: 0
			min-width: 250px
			@media (max-width: 576px)
				bottom: auto
				top: 80%
			.bg-imgs.r5
				


		.bg-imgs-wrap.r4
			top: 60%
			width: 30%
			height: 600px
			overflow: hidden
			display: none
			right: 0
			min-width: 250px
			.bg-imgs.r4

		.bg-imgs-wrap.r3
			display: block
			top: 50%
			width: 20%	
			right: 0
			min-width: 250px
			.bg-imgs.r3
				
		
		.bg-imgs-wrap.r2
			display: block
			top: 20%
			width: 30%
			right: 0
			min-width: 250px
			.bg-imgs.r2
				

		.bg-imgs-wrap.r1
			position: absolute
			display: block
			top: 0%
			width: 40%
			right: 0
			min-width: 250px
			z-index: -10
			.bg-imgs.r1
				width: 100%
		
		//c
		.bg-imgs-wrap.c4
			bottom: 0
			width: 40%
			left: 40%
			min-width: 250px
			@media (max-width: 576px)
				bottom: auto
				top: 90%
			.bg-imgs.c4

		.bg-imgs-wrap.c3
			display: block
			top: 50%
			width: 30%	
			left: 40%
			min-width: 250px
			.bg-imgs.c3
				
		
		.bg-imgs-wrap.c2
			display: block
			top: 20%
			width: 40%
			right: 40%
			min-width: 250px
			.bg-imgs.c2
				

		.bg-imgs-wrap.c1
			position: absolute
			display: block
			top: 0%
			width: 50%
			left: 40%
			min-width: 250px
			z-index: -9
			.bg-imgs.c1
				width: 100%



//background: rgb(108,77,251);
//background: linear-gradient(0deg, rgba(108,77,251,1) 0%, rgba(0,19,49,1) 100%);


//soos page
section#soos
	*
		::-webkit-scrollbar
			width: 10px
		::-webkit-scrollbar-track
			background: rgba(black, 0.2)
		::-webkit-scrollbar-thumb
			background: rgba(black, 0.5s)
		::-webkit-scrollbar-thumb:hover
			background: #555
		
	.logo
		text-align: center
		padding: 30px 0
		img
			width: 50%
			min-width: 200px
	.page-title
		background-image: url(../img/soos/soos-title.png)
		@media (max-width: 576px)
			background-size: 150%
			background-repeat: no-repeat

	.page-content
		margin-bottom: 200px
		.content
			position: relative
			color: $yellow
			&:after
				content: ''
				position: absolute
				width: 100%
				height: 100%
				left: 0
				top: 0
				background-color: #83169c
				background-image: url(../img/Bg_mask.png)
				background-size: cover
				background-position: center center
				z-index: -1

	.history-container
		//overflow: hidden
		position: relative
		margin-bottom: 100px
		
		.line
			position: absolute
			display: block
			height: 120%
			width: 8px
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
			background: $d_yellow
			z-index: -1
			@media (max-width: 991px)
				z-index: -1000
			.arr
				position: absolute
				//border: 1px solid #000
				width: 100px
				height: 100px
				left: 50%
				transform: translateX(-50%) translateY(-80px)
				text-align: center
				img
					transform: scaleX(0.5)
			.arr2
				bottom: 0
				transform: translateX(-50%) translateY(80px)
				// border-radius: 5px


		.bg
			width: 100%
			height: 100%
			position: absolute
			width: 100vw
			text-align: center
			margin-left: -50vw
			left: 50%
			background-repeat: no-repeat
			background-size: cover
			z-index: -2
			//top: 50px
			opacity: 0.8
			transform: translateY(10%)
			
		.year-wrap
			text-align: center
			margin-bottom: 80px
			color: $d_yellow
			@media (max-width: 991px)
				margin: 0
			.year
				letter-spacing: 3px
				display: inline-block
				transform: rotate(90deg)
				font-style: italic
				font-weight: 800
				letter-spacing: 3px
				font-size: 60px
				text-shadow: 1px 1px 0 $r_purple,
				-1px 1px 0 $r_purple,
				1px -1px 0 $r_purple,
				-1px -1px 0 $r_purple,
				0px 1px 0 $r_purple,
				0px -1px 0 $r_purple,
				-1px 0px 0 $r_purple,
				1px 0px 0 $r_purple,
				2px 2px 0 $r_purple,
				-2px 2px 0 $r_purple,
				2px -2px 0 $r_purple,
				-2px -2px 0 $r_purple,
				0px 2px 0 $r_purple,
				0px -2px 0 $r_purple,
				-2px 0px 0 $r_purple,
				2px 0px 0 $r_purple,
				1px 2px 0 $r_purple,
				-1px 2px 0 $r_purple,
				1px -2px 0 $r_purple,
				-1px -2px 0 $r_purple,
				2px 1px 0 $r_purple,
				-2px 1px 0 $r_purple,
				2px -1px 0 $r_purple,
				-2px -1px 0 $r_purple
				@media (max-width: 991px)
					transform: rotate(0deg)

				
		.poster-wrap
			text-align: center
			img
				width: 80%
				box-shadow: 0 1px 10px rgba(black, 0.5)
				
		.content-col
			display: flex
			justify-content: center
			align-items: center
			.content-wrap
				width: 85%
				height: 100%
				@media (max-width: 991px)
					margin-top: 100px
				.vol-wrap
					text-align: center
					position: absolute
					left: 50%
					transform: translate(-50%, -100%) 
					width: 100%
					@media (max-width: 991px)
						text-align: center
						transform: translate(-50%, -100%) 
					img
						width: 40%
						@media (max-width: 991px)
							width: 30%
				.content
					max-height: 600px
					height: 100%
					//height: auto
					border: 3px solid $yellow
					position: relative
					color: $d_yellow
					padding: 10px 20px
					font-weight: 600
					font-size: 18px
					letter-spacing: 35px
					background: rgba(black, 0.6)
					
					&:before
						position: absolute
						display: block
						content: ''
						width: 100%
						height: 100%
						left: -8px
						top: 8px
						border: 3px solid $yellow
						border-top: none
						border-right: none
						z-index: -1
					&:after
						position: absolute
						display: block
						content: ''
						width: 100%
						height: 100%
						left: 0
						top: 0
						opacity: 0.5
						background-color: darken(#83169c, 80%)
						background-image: url(../img/Bg_mask.png)
						z-index: -1
						background-size: 150%
					.content-inner
						//max-height: 520px
						height: 100%
						overflow-y: scroll


							
//movie page
section#movie
	*
		::-webkit-scrollbar
			//width: 10px
		::-webkit-scrollbar-track
			background: rgba(black, 0.2)
		::-webkit-scrollbar-thumb
			background: rgba(black, 0.5s)
		::-webkit-scrollbar-thumb:hover
			background: #555
	.page-title
		background-image: url(../img/movie/movie-title.png)
		@media (max-width: 576px)
			background-size: 150%
			background-repeat: no-repeat
	.slider-nav-wrap
		.movie-slider-nav
			margin-bottom: 50px
			.slick-list
				//padding: 0 220px !important
			.slick-current
				//margin: 0 0px
				//transition: .3s
				.img-wrap
					transition: .3s
					transform: scale(1.5) translateY(0%)
					@media (max-width: 1199px)
						transform: scale(1.3) translateY(0%)
					@media (max-width: 991px)
						transform: scale(1) translateY(0%)
				
			.img-wrap
				padding: 10px 90px
				transform: scale(0.9) translateY(20%)
				position: relative
				@media (max-width: 1199px)
					padding: 10px 60px
				@media (max-width: 991px)
					padding: 10px 25px
					transform: scale(0.65) translateY(25%)
				@media (max-width: 768px)
					img
						margin: 0 auto
				//bottom: -10px 
					


	.slider-wrap
		border: 3px solid $yellow
		position: relative
		color: $d_yellow
		//padding: 10px 20px
		font-weight: 600
		font-size: 18px
		letter-spacing: 35px
		background: rgba(black, 0.6)
		border: 8px solid $yellow
		top: -50px
		&:before
			position: absolute
			display: block
			content: ''
			width: 100%
			height: 100%
			left: -12px
			top: 12px
			border: 3px solid $yellow
			border-top: none
			border-right: none
			z-index: -1
		&:after
			position: absolute
			display: block
			content: ''
			width: 100%
			height: 100%
			left: 0
			top: 0
			opacity: 0.5
			background-color: darken(#83169c, 80%)
			background-image: url(../img/rp_mask.png)
			z-index: -1
			background-size: 10%
		
		.movie-slider
			.all-video-wrap
				display: flex
				flex-wrap: wrap
				padding: 0 20px
				height: 60vh
				
				overflow: scroll
				@media (max-width: 768px)
					height: 90vh
					max-height: none
				
				.video-wrap-outer
					width: 33.33%
					padding: 30px 20px
					@media (max-width: 991px)
						width: 50%
					@media (max-width: 768px)
						width: 100%
						padding: 20px 20px
					.video-wrap
						position: relative
						padding-bottom: 56.25%
						iframe
							position: absolute
							left: 50%
							top: 50%
							transform: translate(-50%, -50%)
							width: 100%
							height: 100%
	.text-slider
		.text-wrap
			p
				font-size: 18px
				text-align: center
				color: $yellow

					
	.slick-arrow
		transform: scaleY(5) scaleX(4)
		@media (max-width: 768px)
			transform: scaleY(4) scaleX(3)
		


	.slick-next
		right: -30px
		@media (max-width: 768px)
			right: 0
	.slick-prev
		left: -30px
		@media (max-width: 768px)
			left: 0


body
	//width: 5000px
*
	//border: 1px solid #000















// .nav-shadow
// 	box-shadow: 0 1px 10px rgba(black, 0.2)






* 
	//border: 1px solid

	
















